ion-card {
  .cash {
    span {
      &.values {
        font-size: 30px;
        display: block;
      }

      &.blue {
        color: #0ab9cd;
      }

      &.green {
        color: #94c22b;
      }
    }
  }
  .footer {
    background: #f4f5f8;
  }
}
